@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    /* These values for the color variables are hsl figures without hsl specification. 
    This will allow me to bring in these preset values for hsla as well as hsl. */
    --clr-orange: 4, 100%, 67%;
    --clr-dark-slate-grey: 234, 29%, 20%;
    --clr-charcoal-grey: 235, 18%, 26%;
    --clr-grey: 231, 7%, 6%;
    --clr-white: 0, 0%, 100%;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    list-style: none;
    color: hsl(var(--clr-dark-slate-grey));
    font-weight: var(--fw-medium);
}

body {
    background-color: hsl(var(--clr-charcoal-grey));
}

.desktop {
    display: none;
}

.sign-up-card-div, 
.confirmation-card-div {
    width: 375px;
    margin: 0 auto;
    background-color: hsl(var(--clr-white));
}

.sign-up-card-div__info-div {
    padding: 2em 1.5em 2.375em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.sign-up-card-div__info-div__heading {
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
}

.sign-up-card-div__info-div__description {
    line-height: 1.5em;;
}

.sign-up-card-div__info-div__list-div ul {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.sign-up-card-div__info-div__list-div ul li {
    display: flex;
    gap: 1em;
    line-height: 1.375em;
}

.sign-up-card-div__info-div__list-div ul li img {
    height: fit-content;
    margin-top: 1px;
}

.sign-up-card-div__info-div__email-div {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.sign-up-card-div__info-div__email-div__label {
    font-size: 0.725rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.sign-up-card-div__info-div__email-div__input {
    padding: 1.1em;
    border-radius: 6px;
    border: 1px solid hsla(var(--clr-grey), 0.25);
    margin-bottom: 1.625em;
}

.sign-up-card-div__info-div__email-div__button {
    padding: 1.1em;
    border-radius: 6px;
    border: none;
    color: hsl(var(--clr-white));
    font-weight: var(--fw-bold);
    background-color: hsl(var(--clr-dark-slate-grey));
    cursor: pointer
}

.confirmation-card-div {
    display: none;
}

.attribution, 
.attribution a {
    text-align: center;
    color: white;
    font-weight: var(--fw-regular);
}

@media screen and (min-width: 960px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .sign-up-card-div {
        width: 960px;
        border-radius: 24px;
    }
    
    .sign-up-card-div__image {
        display: none;
        margin: 1.425em;
    }

    .sign-up-card-div__image.desktop {
        float: right;
        display: block;
    }
}


/* 960 x 640 */