@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --clr-orange: hsl(4, 100%, 67%);
    --clr-dark-slate-grey: hsl(234, 29%, 20%);
    --clr-charcoal-grey: hsl(235, 18%, 26%);
    --clr-grey: hsl(231, 7%, 6%);
    --clr-white: hsl(0, 0%, 100%);

    --fw-regular: 400;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    list-style: none;
    color: var(--clr-dark-slate-grey);
}

body {
    background-color: var(--clr-charcoal-grey);
}

.sign-up-card-div, 
.confirmation-card-div {
    width: 375px;
    margin: 0 auto;
    background-color: var(--clr-white);
}

.sign-up-card-div__info-div {
    padding: 2em 1.5em;
}

.sign-up-card-div__info-div__heading {
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
}

.sign-up-card-div__info-div__list-div ul li {
    display: flex;
    gap: 1em;
}

.attribution {
    text-align: center;
}